{% extends 'web_base_guest.html' %} {% block title %} {{ title }} {% endblock %} {% block body %} {% load static %}
<br>
<br>
<br>
<br>
<section id="intro" class="clearfix">
	<div class="container">
		<header class="section-header" style="text-align: center;">
			<h3>Privacy Policy</h3>
		</header>

		<p>We at SmartCloud, Inc. (“PMC,” “we,” “us,” or “our”) have
			created this Website Privacy Policy to inform you of how information
			you provide to us is used and shared by us. This Website Privacy
			Policy applies to the online information collection and use practices
			with respect to the publicly available sections (the “Public Areas”)
			of www.SmartCloud.com (“Website”). By visiting our Website, you are
			accepting the practices outlined in this policy with respect to all
			information collected through the Public Areas. WE RESERVE THE RIGHT
			TO CHANGE OUR POLICIES FROM TIME TO TIME, AND SO EACH TIME YOU VISIT
			THE WEBSITE, YOU SHOULD REVIEW THE POLICIES FOR CHANGES AND YOUR USE
			CONSTITUTES ACCEPTANCE OF CHANGES. This Website Privacy Policy does
			not apply to information you enter in the “Customer Login” section of
			the Website, or to the privacy practices that PMC uses when providing
			Software-as-a-Service (SaaS) services to our clients (“Clients”).
			Such services, which are referred to collectively as “Services,” are
			governed by a separate Terms of Service policy.</p>

		<h3>The Information We Collect.</h3>
		<p>When you use the Public Areas of the Website, you may provide
			us with information about you and your company, such as your company
			name, your name, title, email address, postal address, and telephone
			number (collectively, the “Visitor Information”). We do not collect
			any Visitor Information from you when you visit the Public Areas of
			the Website unless you provide us with the Visitor Information
			voluntarily (for example, by registering for a Webinar, signing up
			for a free trial, using our savings calculator, or sending us a
			message). We may automatically collect other types of information
			when you visit the Website such as your network location, the IP
			address of your computer, and what sections of the Website you visit.
			Also, the Website may use “cookie” technology or other similar
			technology to help us collect other information and to enhance your
			experience using the Website. Cookies are small packets of data that
			a website stores on your computer’s hard drive so that your computer
			will “remember” information about your visit. If you do not want the
			Website to place a cookie on your hard drive, you may be able to turn
			that feature off on your computer. If you decide not to accept
			cookies or other similar technology from our Website, the Website may
			not function properly.</p>
	</div>
</section>
<section class="section-bg">
	<div class="container">
		<h3>How We Use and Share Visitor Information.</h3>
		<p>If you provide us with Visitor Information through the Public
			Areas of the Website, you agree we may use such Visitor Information
			to contact you about the products and/or services about which you
			have expressed interest. You also agree we may also use the Visitor
			Information to inform you about other products and services that may
			be available through PMC and provide you with other notices from PMC.
			Your Visitor Information will not be distributed or provided to third
			parties by PMC, except as provided below: In an ongoing effort to
			better understand our users, we might aggregate Visitor Information
			that is provided through the Website. In aggregate form, this Visitor
			Information does not identify you personally. We may share this
			aggregate data with our subsidiaries, affiliates, agents, and
			suppliers, service providers and other businesses or entities with
			which we have or are discussing a business relationship (“Business
			Partners”). We may also disclose aggregated user statistics in order
			to describe our services to Business Partners and to other third
			parties for other lawful purposes, and we may post or otherwise
			publicly disclose such aggregate data. We may enter into agreements
			with other companies and individuals to perform functions on our
			behalf. Examples may include, but are not limited to providing
			marketing assistance and customer service, providing administrative
			and billing assistance, or providing hosting or backup recovery
			services. These other companies will have access to the Visitor
			Information from us as necessary or desirable to perform their
			functions for us. If we enter into a transactions for the sale of all
			or a portion of our company or its business (whether structured as an
			asset sale, merger, or otherwise) you agree that your Visitor
			Information can be transferred to the purchaser in such a transaction
			along with the other business assets. We may also disclose Visitor
			Information when subpoenaed, or when required by law, court order, or
			other government or law enforcement authority or regulatory agency,
			or whenever we believe that disclosing the Visitor Information is
			necessary or advisable, for example, to protect the rights, property,
			or safety of PMC or others, or to enforce the [terms and conditions]
			of our Website.</p>
		<h3>Accessing and Modifying Visitor Information and Communication
			Preferences</h3>
		<p>Visitors who have provided personally identifiable information
			may request access, removal, review, and/or make changes to their
			Visitor Information by e-mailing PMC at info@SmartCloud.com. In
			addition, such Visitors may indicate their preference not to receive
			marketing and non-transactional communications by clicking on the
			link to unsubscribe located on the bottom of any PMC marketing email.
			Clients cannot opt out of receiving transactional emails related to
			their account with PMC. We will use commercially reasonable efforts
			to process such requests in a timely manner. You should be aware,
			however, that it is not always possible to completely remove or
			modify information in our subscription databases. If you return to
			the Website and provide your information after indicating such
			preference, you are revoking your request to opt out.</p>
		<h3>Important Notices to Non-U.S. Residents</h3>
		<p>It is important to note that the Website is operated in the
			United States. If you are located outside of the United States,
			please be aware that any Visitor Information you provide to us will
			be transferred to the United States. By using the Website and/or
			providing us with your Visitor Information, you consent to this
			transfer.</p>
		<h3>European General Data Protection Regulation</h3>
		<p>Personal information: The personal information we collect may
			be considered Personal Data under the General Data Protection
			Regulation. Data Transfer: We provide our Services from the US. That
			means that we may transfer your data from the EU to the US. Because
			the European Commission has not provided a decision of adequacy for
			the US, we protect your privacy and your rights through the use of
			the European Commission’s standard data protection clauses. More
			information about these is available here
			http://eur-lex.europa.eu/legal-content/en/TXT/?uri=CELEX:32010D0087

			We’ll take all steps reasonably necessary to ensure that your data is
			treated securely and in accordance with this Privacy Policy and no
			transfer of your personal information will take place to an
			organization or a country unless there are adequate controls in place
			including the security of your data and other personal information.

			Your Rights If you’re located in the EU, you have a lot of rights
			relating to your personal information: 1) The right to be informed
			about how your personal information is being used; 2) The right to
			access the personal information we hold about you; 3) The right to
			request the correction of inaccurate personal information we hold
			about you; 4) The right to request that we delete your data, or stop
			processing it or collecting it, in some circumstances; 5) The right
			to stop direct marketing messages, which you can do through My
			Account, and to withdraw consent for other consent-based processing
			at any time; 6) The right to request that we transfer or port
			elements of your data either to you or another service provider; and


			7) The right to complain to your data protection regulator.</p>
	</div>
</section>
{% endblock %}
