{% extends 'web_base_user.html' %} {% block title %} {{ title }} {% endblock %} {% block body %} {% load static %}
<!--========================== Intro Section ============================-->
<br>
<br>
<br>
{% load tz %}
<section class="section-bg">
	<div class="container">
	
		<header class="section-header">
			<h3>New Orders</h3>
			<div class="card-group">
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfCTcTnK0FjrmlD8fbcFK6Z6UyqxdeMbii4CSlQZc4m4BNIGQ/viewform?embedded=true" width="550" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
				
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfw0yIxMY7rd74LSSNEeCF_hmOlSLyYhY-Rcls3ul9Sht12eg/viewform?embedded=true" width="550" height="760" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
			</div>	
		</header>
	</div>
</section>
{% endblock %}
